{% extends "encyclopedia/layout.html" %}

{% block title %}
    About Wiki
{% endblock %}

{% block body %}
<div id="zahidmainpostview" style="border: none; padding: 0;margin-bottom: 0;margin-top: 0;overflow-y: auto;height: 95%;margin-right: 8px; margin-left: 8px;">
    <h1 class="display-4">About Wiki</h1>
    <hr>
    <ul>
        <li>
        	<h4>What is Wiki ?</h4>
        	<p>
        		Wiki is a online Encyclopedia. It is Powered By You. You can Write Articles/Pages over here and edit them. Its just like wikipedia but the best part about it is you can edit or create pages anonomously you dont need to login. Using Random page you can go onto random pages that are randomly opened for you and you can read or edit random articles/pages. You cam Search using its search feature for pages.
         	</p>
        </li>
         <li>
        	<h4>Who Created Wiki ?</h4>
        	<p>
        		Wiki is an Web Application created in Django by Mohammed Zahid Imtiyaz Wadiwale first name Mohammed Zahid full name Mohammed Zahid Wadiwale and Fathers name Imtiyaz. You can checkout more projects by me at <a href="www.github.com/ZahidServers/">www.github.com/ZahidServers/</a>
         	</p>
        </li>
        <li>
        	<h4>Why was Wiki Created ?</h4>
        	<p>
        		Wiki was created for submission as an project for harvard CS50 Web Programming with Python and JavaScript. You can check out more about my Harvard Projects at my Youtube Channel <a href="https://www.youtube.com/channel/UC34SPzfHCp0KyKIVcKZxHhA">Zahid MZIWA</a>. There are many projects done by me.
         	</p>
        </li>
    </ul>
</div>
{% endblock %}