{% extends "encyclopedia/layout.html" %}

{% block title %}
    About Wiki
{% endblock %}

{% block body %}
<div id="zahidmainpostview" style="border: none; padding: 0;margin-bottom: 0;margin-top: 0;overflow-y: auto;height: 95%;margin-right: 8px; margin-left: 8px;">
    <h1 class="display-4">Rules:-</h1>
    <hr>
    <ul>
        <li>
        	<h4>Creating a page:</h4>
        	<p>
        		Wiki checks if the title of the page already exist or not to avoid duplication you cannot create a page with same title. But however wiki isnt able to detect if you have posted similar content that already exists so first search if the content already exist before creating a new page.
         	</p>
        </li>
         <li>
        	<h4>Editing a page:</h4>
        	<p>
        		You can edit any page you want but under specific conditions. The condition can be if there are spelling mistakes or / and if you feel there is some information left out that needs to be added and / or if there are some factual mistakes then only you are supposed to edit the page.
         	</p>
        </li>
        <li>
        	<h4>Strictly Prohibited:</h4>
        	<p>
        		Use of abusive or slang languages are strictly prohibited the content should be friendly for childrens. Use of nudes pornographic pictures are strictly prohibited however you can add pages related to them in decent manner. Everything should be children friendly because this site doesnt have any features to monitor if minors are using this.
         	</p>
        </li>
        <li>
            <h4>Use of Copy Righted Content:</h4>
            <p>
                Before using a copy right content you are supposed to take permissions from the owner and also add the permission details along with the content. All the licences should be clearly mentioned.
            </p>
        </li>
    </ul>
</div>
{% endblock %}